*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.searchAndLogo{
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.headerG{
    font-family: 'Bookman Old Style', Bold;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    border-radius: 5px;
}

.content header{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 35px 0;
    font-family: 'Bookman Old Style', Bold;
}

#logo{
    margin-top: -10px;
}

.searchForm {
    margin-top: 33px;
    background-color: #f3f4fa;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    opacity: .2;
}


svg {
    color: rgb(17, 2, 2);
    opacity: 1;
    fill: currentColor;
    width: 40px;
    padding-left:12px;
    padding-top:5px;
    height: 100%;
    background-color:lightgrey;
    border-radius: 5px 0 0 5px;
}

#query{
    all: unset;
    font: 16px system-ui;
    background: lightgrey;
    color: rgb(0, 0, 0);
    height: 73%;
    width: 100%;
    padding: 6px 10px;
    border-radius: 0 5px 5px 0;
}

.buttonContainer{
    position: sticky;
    z-index: 5;
    margin-top:2%;
    margin-right: -5%;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    float: right;
    width:300px;
    background: transparent;
}

h1{
    font-family: 'Montserrat';
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


#form_head {
    margin-top: 5%;
}

.add_image {
    margin-left: 71.5%;
    background-color: #00b8ff;
    color: white;
    cursor: pointer;
    width: 25%;
    height: 12%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
}

#ingredients {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 20px;
}

.image_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 150px;
}

input, a{

    all: unset;
    font: 16px system-ui;
    background: white;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;

}

#num_ingredients {
    background-color: #00b8ff;
    color: white;
    width: 15%;
    text-align: center;
}

select {

    float: right;
    width: 15%;
}

#recipe_title {
    margin-top: 20px;
    width: 97%;
}

#desc {
    width: 97%;
}

#servings {
    margin-left: 25%;
}

::placeholder {
    color: rgb(20, 5, 5);
    opacity: .8;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}


#logout{
    background-color:#00cf35;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 23%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;

}

#post{
    background-color: #00b8ff;
    color: white;
    cursor: pointer;
    width: 77px;
    height: 23%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

.page-contain {
    display: grid;
    place-items: center;
    background: #ffdab9;
    height: 90%;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    width: 40%;
    border-radius: 5px;
    margin: 10px;

}


input::placeholder {
    opacity: .5;
}

#form_head {
    text-align: center;
}

form {
    width: 90%;
}



.submit {
    background-color: #00b8ff;
    width: 8%;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-top:52.8%;
    margin-left: 71%;

}

