*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.searchAndLogo{
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.headerG{
    font-family: 'Bookman Old Style', Bold;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    border-radius: 5px;
}

.content header{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 35px 0;
    font-family: 'Bookman Old Style', Bold;
}

#logo{
    margin-top: -10px;
}

.searchForm {
    margin-top: 33px;
    background-color: #f3f4fa;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    opacity: .2;
}


svg {
    color: rgb(17, 2, 2);
    opacity: 1;
    fill: currentColor;
    width: 40px;
    padding-left:12px;
    padding-top:5px;
    height: 100%;
    background-color:lightgrey;
    border-radius: 5px 0 0 5px;
}

#query{
    all: unset;
    font: 16px system-ui;
    background: lightgrey;
    color: rgb(0, 0, 0);
    height: 73%;
    width: 100%;
    padding: 6px 10px;
    border-radius: 0 5px 5px 0;
}

.buttonContainer{
    position: sticky;
    z-index: 5;
    margin-top:2%;
    margin-right: -5%;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    float: right;
    width:300px;
    background: transparent;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#logout{
    all: unset;
    font: 16px system-ui;
    background-color:#00cf35;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 23%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;

}

#post{
    all: unset;
    background-color: #00b8ff;
    font: 16px system-ui;
    color: white;
    cursor: pointer;
    width: 77px;
    height: 23%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
}

#search-results {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}
